article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { display: block; }

html, body {
	height: 100%;
}

body {
	/*background: url(images/bg.gif) repeat;*/
	background: #ddd;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: Verdana, Arial, sans-serif;
}

a:focus {
     outline: none;
}

h1, h2 {
	font-family: 'Josefin Sans Std Light', arial, serif;
}

#logo {
	z-index: 10000;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 55px;
	height: 53px;

}

.full #logo {
	top: 10px;
	left: 10px;
}

#title h1 {
	position: absolute;
	background: transparent url('../images/logo.png') 0 0 no-repeat;	
	font-size: 200%;
	width: 0;
	padding: 7px 0 0 52px;
	height: 53px;
	color: #fff;
	overflow: visible;
	white-space: nowrap;
	top: 17px;
	left: 20px;
	z-index: 10000;
}
.full #title h1 {
	color: #000;
}

h1 em {
	color: #999;
	font-size: 80%;
}


.ui-layout-north {
	background: #444;
	background: -moz-linear-gradient(0 0 270deg, #222, #444 40%);
 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#444), color-stop(40%, #444));
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	z-index: 10;
	border-bottom: solid 1px #000;
	-moz-box-shadow: 0 0px 10px #666;
	-webkit-box-shadow: 0 0px 10px #666;
	box-shadow: 0 0px 10px #666;
}
.landing .ui-layout-north {
	height: 250px;
}
.full .ui-layout-north {
	display: none;
}

.ui-layout-south {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 60px;
	z-index: 5;
	overflow: hidden;
	min-height: 400px;
}
.landing .ui-layout-south {
	top: 250px;
}
.full .ui-layout-south {
	top: 0;
}


.ui-layout-west {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 200px;
	-moz-box-shadow: 5px 0px 50px #666;
	-webkit-box-shadow: 5px 0px 50px #666;
	box-shadow: 5px 0px 50px #666;
	z-index: 5;
	/*background: #ddd;*/
}
.full .ui-layout-west {
	right: 0;
}

.ui-layout-east {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 200px;
	z-index: 1;
}
.full .ui-layout-east {
	display: none;
}



#menu {
	position: absolute;
	bottom: 5px;
	right: 210px;
}

#menu ul {
	list-style-type: none;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin: 0 10px 0 10px;
	padding: 2px 2px 2px 2px;
	color: #fff;
	font-size: 80%;
	font-weight: normal;
	text-decoration: none;
}




#work-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 10px;
	bottom: 0;
	background: #f5f5f5;
	-moz-box-shadow: 0px 0px 15px #666;
	-webkit-box-shadow: 0px 0px 15px #666;
	box-shadow: 0px 0px 15px #666;
}

#map-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	/*bottom: 350px;*/
	bottom: 0;
	background-color: #fff;
	cursor: move;
	overflow: hidden;
}
.full #map-container {
	background: -moz-linear-gradient(0 0 270deg, #aaa, #ddd 3%, #fff 8%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#fff), color-stop(3%, #ddd), color-stop(8%, #fff));
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: move;
}

#toolbar {
	position: absolute;
	top: 10px;
	right: 0;
	width: 200px;
	bottom: 0;
	background: #eee;
}

#fullscreen-btn {
	display: block;
	width: 36px;
	height: 36px;
	top: 10px;
	right: 20px;
	position: absolute;
	background: transparent url('../images/fullscreen_btn.png') top left no-repeat;
}

.full #fullscreen-btn {
	background: transparent url('../images/fullscreen_btn2.png') top left no-repeat;
	top: 20px;
	right: 30px;
}

#toolbar h1, h2 {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #222;
}

#toolbar p {
	font-family: Arial, sans-serif;
	font-size: 11px;
}

#toolbar-contents {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.toolbox {
	width: 100%;
	margin-bottom: 8px;	
	background: #ededed;
	-moz-box-shadow: 6px 6px 12px #ccc;
	-webkit-box-shadow: 2px 2px 4px #666;
	box-shadow: 2px 2px 4px #666;
}

.toolbox h1 {
	padding: 3px 0 2px 15px;
	background: #aaa;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	letter-spacing: .25px;
	font-weight: bold;
}

.toolbox-contents {
	padding: 10px 0 10px 15px;
	background: #ddd;
}

#overlay {
	z-index: 10000;
}

#node-editor {
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	background: transparent url('../images/node_editor.png') top left no-repeat;
	width: 178px;
	height: 130px;
	display: none;
	font-size: 11px;
	font-family: Arial, sans-serif;
}

#node-editor input {
	width: 145px;
	position: absolute;
	top: 13px;
	left: 13px;
	font-size: 12px;
}

#node-editor .actions {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 33px;
}

#node-editor ul {
	color: #444;
	margin: 2px 0 2px 0;
}

#node-editor ul.alt {
	float: right;
	clear: right;
}

#node-editor ul li {
	display: block;
	margin: 0 2px 0 2px;
}

#node-editor ul li.label {
/*	min-width: 35px;*/
	font-weight: bold;
}

#node-editor ul li a {
	display: block;
	float: left;
	clear: left;
	text-decoration: none;
	padding: 1px 4px 1px 4px;
	margin: 2px 0 1px 0;
	background: rgba(255, 255, 255, 1.0);
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	color: #444;
}

#node-editor ul li a:hover {
	background: rgba(0, 0, 0, 1.0);
	color: #fff;
}

#node-editor ul li a.warn {
	background: rgba(255, 0, 0, 1.0);
	color: #fff;
}

#node-editor ul li a.warn:hover {
	background: #000;
	color: #f55;
}