article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { display: block; }

html, body {
	height: 100%;
}

body {
	/*background: url(images/bg.gif) repeat;*/
	background: #ddd;
}

h1, h2 {
	font-family: 'Josefin Sans Std Light', arial, serif;
}

h1 {
	font-size: 30px;
	padding: 20px 0 10px 30px;
	color: #222;
}

h1 em {
	color: #777;
	font-size: 22px;
}


#navigation {
	background-color:    silver;
	overflow:    hidden;
}

#navigation ul {
	overflow:    hidden;
	float:    left;
	margin-left:    200px;
}

#navigation ul li {
	float:    left;
	margin-right:    20px;
	margin-left:    20px;
}


/* The drawing canvas and included elements */

#map {
	border: solid 1px #bbb;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 7px #666;
	-webkit-box-shadow: 2px 2px 7px #666;
	box-shadow: 2px 2px 7px #666;
	cursor: move;
}

#node-editor {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent url('../images/node_editor.png') top left no-repeat;
	width: 208px;
	height: 90px;
	display: none;
}

#node-editor input {
	width: 175px;
	position: absolute;
	top: 13px;
	left: 13px;
	font-size: 12px;
}

#node-editor .options {
	position: absolute;
	top: 45px;
	left: 20px;
	right: 20px;
	bottom: 10px;
	font-size: 50%;
}