article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { display: block; }

html, body {
	height: 100%;
}

body {
	/*background: url(images/bg.gif) repeat;*/
	background: #ddd;
}

h1, h2 {
	font-family: 'Josefin Sans Std Light', arial, serif;
}

h1 {
	font-size: 30px;
	padding: 20px 0 10px 30px;
	color: #222;
}

h1 em {
	color: #777;
	font-size: 22px;
}


#navigation {
	background-color:    silver;
	overflow:    hidden;
}

#navigation ul {
	overflow:    hidden;
	float:    left;
	margin-left:    200px;
}

#navigation ul li {
	float:    left;
	margin-right:    20px;
	margin-left:    20px;
}


/* The drawing canvas and included elements */

#work-area {
	position: absolute;
	top: 60px;
	left: 30px;
	right: 20px;
	bottom: 30px;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 7px #666;
	-webkit-box-shadow: 2px 2px 7px #666;
	box-shadow: 2px 2px 7px #666;
}

#map-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 210px;
	/*bottom: 350px;*/
	bottom: 0;
	background-color: #fff;
	cursor: move;
	overflow: hidden;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: move;
}

/*
#map2 {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 210px;
	height: 350px;
	background-color: #cde;
	cursor: move;
}
*/

#toolbar {
	position: absolute;
	top: 0;
	right: 0;
	width: 210px;
	bottom: 0;
	background: #eee;
	background: -moz-linear-gradient(left, #ddd, #eee 10px);
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ddd), color-stop(0.07, #eee));
}

#toolbar h1, h2 {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

#toolbar p {
	font-family: Arial, sans-serif;
	font-size: 11px;
}

#toolbar-contents {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.toolbox h1 {
	width: 175px;
	padding: 3px 0 2px 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	margin: 0 0 0 0;
	border-bottom: solid 1px #515151;
	border-top: solid 1px #e2e2e2;
	background: #b6b6b6;
	background: -moz-linear-gradient(top, #cfcfcf, #a8a8a8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cfcfcf), to(#a8a8a8));
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	letter-spacing: .25px;
	font-weight: bold;
}

.toolbox {
	width: 180px;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 12px;	
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background: #ededed;
	/*background: -moz-linear-gradient(top, #f0efef 50%, #d2d3d3);*/
	-moz-box-shadow: 6px 6px 12px #ccc;
	-webkit-box-shadow: 2px 2px 4px #666;
	box-shadow: 2px 2px 4px #666;
}

.toolbox-contents {
	padding: 10px 10px 10px 10px;
	/*border: solid 1px #f3f3f3;*/
	border-left: solid 1px #cccbcb;
	border-right: solid 1px #cccbcb;
	border-bottom: solid 1px #cccbcb;
	-moz-border-radius-bottomleft: 5px;	
	-webkit-border-bottom-left-radius: 5px;
}

#node-editor {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent url('../images/node_editor.png') top left no-repeat;
	width: 178px;
	height: 130px;
	display: none;
	font-size: 11px;
	font-family: Arial, sans-serif;
}

#node-editor input {
	width: 145px;
	position: absolute;
	top: 13px;
	left: 13px;
	font-size: 12px;
}

#node-editor .actions {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 33px;
}

#node-editor ul {
	color: #444;
	margin: 2px 0 2px 0;
}

#node-editor ul.alt {
	float: right;
	clear: right;
}

#node-editor ul li {
	display: block;
	margin: 0 2px 0 2px;
}

#node-editor ul li.label {
/*	min-width: 35px;*/
	font-weight: bold;
}

#node-editor ul li a {
	display: block;
	float: left;
	clear: left;
	text-decoration: none;
	padding: 1px 4px 1px 4px;
	margin: 2px 0 1px 0;
	background: rgba(255, 255, 255, 1.0);
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	color: #444;
}

#node-editor ul li a:hover {
	background: rgba(0, 0, 0, 1.0);
	color: #fff;
}

#node-editor ul li a.warn {
	background: rgba(255, 0, 0, 1.0);
	color: #fff;
}

#node-editor ul li a.warn:hover {
	background: #000;
	color: #f55;
}