article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { display: block; }

html, body {
  height: 100%;
}

body {
  background: #ddd;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
}

a:focus {
     outline: none;
}

#logo {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 55px;
  height: 53px;
}

.full #logo {
  top: 10px;
  left: 10px;
}

#title {
  position: absolute;
  background: transparent url('images/logo.png') 0 4px no-repeat; 
  width: 55px;
  height: 56px;
  overflow: visible;
  top: 4px;
  left: 20px;
  z-index: 1000;
}
.full #title {
  background: transparent url('images/logo_full.png') 0 4px no-repeat;
}
#title h1 {
  font-size: 22px;
  color: #fff;
  white-space: nowrap;
  padding: 11px 0 0 50px;
  font-weight: normal;
}
.full #title h1 {
  color: #000;
}
#title h1 em {
  color: #999;
  font-size: 18px;
}
.full #title h1 em {
  display: none;
}
#title a {
  text-decoration: none;
}

#account .user {
  display: block;
  position: absolute;
  bottom: 12px;
  right: 150px;
  color: #fff;
  text-decoration: none;
  font-size: 90%;
}

#account .user span {
  padding: 3px 7px 3px 7px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background: #000;
  color: #f2c002;
}

#creator span {
  display: none;
}
#creator {
  display: block;
  position: absolute;
  bottom: 13px;
  right: 17px;
  width: 100px;
  height: 19px;
  background: transparent url('images/skookum.png') 0 0 no-repeat;
}



.ui-layout-north {
  background: #444;
  background: -moz-linear-gradient(0 0 270deg, #222, #444 40%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#444), color-stop(40%, #444));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 10;
  border-bottom: solid 1px #000;
  -moz-box-shadow: 0 0px 10px #666;
  -webkit-box-shadow: 0 0px 10px #666;
  box-shadow: 0 0px 10px #666;
}
.full .ui-layout-north {
  display: none;
}

.ui-layout-south {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  z-index: 5;
  overflow: hidden;
  /*min-height: 400px;*/ /* Good for a landing page */
}
.landing .ui-layout-south {
  top: 250px;
}
.full .ui-layout-south {
  top: 0;
}


#work-area {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
}


#menu {
  position: absolute;
  bottom: 0;
  left: 300px;
}

#menu ul, #menu li {
  display: block;
  list-style-type: none;
  position: relative;
  float: left;
}

#menu li:hover ul {
  display: block;
}

#menu li:hover h3 {
  background: rgba(0, 0, 0, .25);
}

/* Top level menu items */

#menu h1, #menu h2, #menu li a, #menu li h3 {
  display: block;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  float: left;
  padding: 22px 20px 0 20px;
  height: 28px;
  z-index: 2000;
  font-size: 16px;
  font-weight: normal;
  border-right: 1px solid rgba(0, 0, 0, .25);
}

#menu li.last a, #menu li.last h3 {
  border-right: none;
}

/* Title */

#menu h1 {
  font-size: 20px;
  padding: 15px 40px 0 40px;
  height: 35px;
}

/* File - Download - Share */

#menu li h3, #menu li a {
  border-left: 1px solid rgba(255, 255, 255, .25);
}
#menu li h3 {
  cursor: default;
}

/*
#menu li a:hover {
  background: #d14334;
}
*/

/* Second level menu */

#menu li ul {
  position: absolute;
  top: 50px;
  left: 0;
/*    background: rgba(205, 200, 195, 0.85);*/
/*    background: rgba(145, 192, 183, 0.85);*/
  background: rgba(255, 255, 255, 0.85);
  -moz-box-shadow: 2px 2px 5px #aaa;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;   
  min-width: 100%;
  color: #000;
  border-top: 1px solid #000;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  display: none;
  padding-bottom: 4px;
  padding-top: 4px;
}

#menu li ul, #menu li ul li, #menu li ul li a {
  float: none;
}

/* Second level menu items */

#menu li ul a {
  float: none;
  padding: 5px 20px 0 20px;
  height: 20px;
  font-size: 12px;
  white-space: nowrap;
  text-shadow: none;
  color: #000;
  border: none; 
  text-decoration: none;
}

#menu li ul li a:hover {
  color: #000;
  background: rgba(0, 0, 0, .5);
  color: #fff;
}




#toolbar {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  background: #fff;
  z-index: 6;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;     
  border: solid 1px #ccc;
}

#toolbar h1.handle {
  cursor: move;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 6px 0 5px 15px;
  color: #333;
  border-bottom: solid 2px #ccc;
  border-top: solid 2px #eee;
  background: #444;
  background: -moz-linear-gradient(0 0 270deg, #ccc, #ddd 40%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#ddd), color-stop(40%, #ddd));  
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;       
}

.full #toolbar {
  display: none;
}

#toolbar-contents {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}