#nav-buttons {
	position: absolute;
	top: 10px;
	right: 20px;
}

.full #nav-buttons {
	top: 20px;
	right: 30px;
}

#nav-buttons li {
	float: right;
}

#nav-buttons li a {
	display: block;
	width: 36px;
	height: 36px;
	float: right;
	margin-left: 6px;
}

#fullscreen-btn {
	background: transparent url('images/buttons/fullscreen_btn.png') top left no-repeat;
}

.full #fullscreen-btn {
	background: transparent url('images/buttons/fullscreen_btn_full.png') top left no-repeat;
}

.toolbox ul {
	margin: 3px 0 0 0;
}

.toolbox li a {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 3px;
	background: transparent url('images/buttons/layout_button_sprites.png') top left no-repeat;
	background-position: 0 0;	
}

.toolbox li a:hover {
	background-position: 0 -22px;
}

.toolbox li a.active {
	background-position: 0 -44px;
}

.toolbox .layouts {
	display: none;
}



.toolbox li a.DownL {
	background-position: 0 0;
}

.toolbox li a:hover.DownL {
	background-position: 0 -22px;
}

.toolbox li a.active.DownL {
	background-position: 0 -44px;
}



.toolbox li a.DownLadder {
	background-position: -22px 0;
}

.toolbox li a:hover.DownLadder {
	background-position: -22px -22px;
}

.toolbox li a.active.DownLadder {
	background-position: -22px -44px;
}



.toolbox li a.DownTree {
	background-position: -44px 0;
}

.toolbox li a:hover.DownTree {
	background-position: -44px -22px;
}

.toolbox li a.active.DownTree {
	background-position: -44px -44px;
}



.toolbox li a.RightDouble {
	background-position: -66px 0;
}

.toolbox li a:hover.RightDouble {
	background-position: -66px -22px;
}

.toolbox li a.active.RightDouble {
	background-position: -66px -44px;
}



.toolbox li a.RightLadder {
	background-position: -88px 0;
}

.toolbox li a:hover.RightLadder {
	background-position: -88px -22px;
}

.toolbox li a.active.RightLadder {
	background-position: -88px -44px;
}



.toolbox li a.RightTree {
	background-position: -110px 0;
}

.toolbox li a:hover.RightTree {
	background-position: -110px -22px;
}

.toolbox li a.active.RightTree {
	background-position: -110px -44px;
}