html {
	height: 100%;
}

body {
	min-height: 100%;  
	font-family: Arial, sans-serif;
	line-height: 1.25;
	background: #242222 url(images/bg_sweep_thin.gif) 0 0 repeat-x;	
}

a { 
	color: #f2c002;
}

strong {
	font-weight: normal;
	color: #eee;
}

em {
	font-style: italic;
}

#wrap {
	width: 1020px;
	margin: 0 auto 0 auto;
	position: relative;
	padding-bottom: 30px;
}
        	
.main.header {
	width: 960px;
	height: 140px;
	padding: 0 30px 0 30px;
	background: transparent url(images/header.jpg) 0 0 no-repeat;
	position: relative;
}

#logo {
	width: 281px;
	height: 93px;
	background: transparent url(images/compass_logo.png) 0 0 no-repeat;
	position: absolute;
	left: 63px;
	top: 37px;
}

#logo h1, #logo h2 {
	display: none;
}

.main.nav {
	position: absolute;
	top: 67px;
	right: 0;
	width: 360px;
	height: 50px;
}

#sidelinks {
	margin: 0 auto 0 auto;
}

.main.nav ul {
	margin: 0 auto 0 auto;
	text-align: center;
}

.main.nav li, .main.nav a {
	display: inline-block;
	margin: 0 0 0 0;
}

.main.nav a {
	font-size: 14px;
	padding: 0 10px 0 10px;
	border-right: solid 1px #000;
	border-left: solid 1px rgba(255, 255, 255, .2);
	text-decoration: none;
	color: #aaa;
}

.main.nav .last a {
	border-right: none;
}

.main.nav .first a {
	border-left: none;
}

.main.article #hero.section {
	height: 110px;
}

.main.article #hero h2 {
	padding: 15px 0 0 78px;
	color: rgba(255, 255, 255, .6);
	font-size: 250%;
}

.main.article #hero h3 {
	padding: 5px 0 0 78px;
	color: rgba(255, 255, 255, .6);
	font-size: 120%;
}



.main.article #hero.section {
	background: transparent url(images/hero.jpg) 0 0 no-repeat;
	width: 960px;	
	padding: 0 30px 0 30px;	
	position: relative;	
}


/* Specific to the homepage */

body#index {
	background: #242222 url(images/bg_sweep.gif) 0 0 repeat-x;
}

#index .main.article #hero.section {
	height: 322px;
}

#index .hero.header {
	padding: 88px 0 0 78px;
	color: rgba(255, 255, 255, .8);
	font-size: 250%;
	width: 490px;
}

#index .hero.header span {
	display: block;
	font-size: 95%;
}

#index .hero.header h1 {
	padding-bottom: 10px;
	border-bottom: solid 2px rgba(0, 0, 0, .15);
}

#index .hero.header h2 {
	font-size: 43%;
	line-height: 1.5;
	padding: 18px 0 0 4px;
	border-top: solid 1px rgba(255, 255, 255, .25);
}

#index .hero.header h2 span {
	width: 290px;
}

#index #signup {
	display: block;
	width: 188px;
	height: 44px;
	background: transparent url(images/signup_btn.png) 0 0 no-repeat;
	position: absolute;
	top: 220px;
	left: 410px;
}

#index #signup h1 {
	display: none;
}

#index #examples {
	position: absolute;
	top: 40px;
	left: 675px;
	width: 349px;
	height: 274px;
	background: transparent url(images/examples.png) 0 0 no-repeat;
}

#index #examples h1 {
	display: none;
}







.main.article #body.section {
	width: 960px;
	min-height: 326px;
	padding: 0 30px 0 30px;
	background: transparent url(images/body.jpg) 0 0 no-repeat;
	position: relative;
}

.main.article .body.article {
	padding: 27px 0 0 78px;
	color: rgba(255, 255, 255, .8);
	width: 490px;
}

.main.article .body.article h1 {
	font-size: 150%;
	font-weight: bold;
	padding: 15px 0 10px 10px;
	border-bottom: solid 2px rgba(0, 0, 0, .25);
}

.main.article .body.article ul.steps {
	border-top: solid 1px rgba(255, 255, 255, .1);
	padding-top: 15px;
}

.main.article .body.article ul.steps li {
	padding-left: 173px;
	margin-bottom: 30px;
}

.main.article .body.article h2, .body.aside h1 {
	color: #f2c002;
	font-size: 110%;
	font-weight: bold;
}

.main.article li p {
	font-size: 90%;
	color: #acacac;
	line-height: 1.7;
	margin-top: 8px;
}

li#step1 {
	background: transparent url(images/step1.png) 10px 0 no-repeat;
	min-height: 104px;        		
}

li#step2 {
	background: transparent url(images/step2.png) 10px 0 no-repeat;
	min-height: 70px;        		
}

li#step3 {
	background: transparent url(images/step3.png) 10px 0 no-repeat;
	min-height: 121px;        		
}     

.body.aside {
	position: absolute;
	left: 680px;
	top: 0;
	padding: 47px 0 0 25px;
}

.body.aside li {
	border-top: solid 1px rgba(255, 255, 255, .1);        	
	border-bottom: solid 2px rgba(0, 0, 0, .25);
	padding: 10px 0 10px 0;
}

.body.aside li.first {
	border-top: none;
}

.body.aside li.last {
	border-bottom: none;
}

.main.footer {
	height: 100px;
	background: #444;
	background: -moz-linear-gradient(0 0 270deg, #222, #000 40%);
 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#000), color-stop(40%, #000));
}


/* Beta signup */

.ui-widget-header {
	background: transparent;
	border: none;
	color: #ccc;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	font-weight: normal;
	border-bottom: solid 2px rgba(0, 0, 0, .2);
}

.ui-dialog .ui-dialog-buttonpane {
	background: transparent;
	border: none;
	padding: 0 8px 8px 0;
	margin: 0 0 0 0;
}

.ui-dialog {
	background: #555;
	background: -moz-linear-gradient(0 0 270deg, #222, #888 40%);
 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#888), color-stop(40%, #888));
	border: solid 1px #333;
	color: #222;
	font-size: 90%;
	-moz-box-shadow: 0 0px 40px #000;
	-webkit-box-shadow: 0 0px 40px #000;
	box-shadow: 0 0px 40px #000;        		
}

.ui-dialog .ui-dialog-content {
	border-top: solid 1px rgba(255, 255, 255, .2);
	padding-top: 15px;
}

.ui-widget-content .ui-button {
	font-size: 80%;
}

.ui-widget-overlay {
	background: #000;
	opacity: 0.5;
}

#signup-form label {
	padding: 0 0 5px 0;
	display: block;
}
#signup-form #email {
	width: 98%;
}

#signup-form p {
	font-size: 90%;
	padding: 10px 0 10px 0;
}

/* /Beta signup */


/* Examples */

ul.examples {

}

ul.examples li.top {
	background: transparent url(images/example_screenshot.png) 0 70px no-repeat;
	position: relative;
	padding: 20px 0 20px 0;
	border-bottom: solid 2px rgba(0, 0, 0, .2);
	border-top: solid 1px rgba(255, 255, 255, .1);        	
}

ul.examples li.top.first {
	border-top: none;
}

ul.examples li.top.last {
	border-bottom: none;
}

#body .article .examples h2 {
	font-size: 140%;
	color: #fff;
	font-weight: normal;
}

#body .article .examples h3 {
	color: #aaa;
}

#body .article .examples .downloads {
	margin: 17px 0 0 170px;
}

.examples .downloads h3 {
	margin-bottom: 5px;
}

.examples .downloads li {
	font-size: 90%;
	line-height: 1.75;
}

.examples .tryit span {
	display: none;
}

.examples .tryit {
	display: block;
	position: absolute;
	bottom: 18px;
	right: 0;
	width: 82px;
	height: 44px;
	background: transparent url(images/tryit_btn.png) 0 0 no-repeat;
}